{% extends 'matches/base.html' %}

{% block title %}Players{% endblock %}

{% block content %}

<div class="table-responsive">
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th>Games </th>
        <th>Decks</th>
        <th>Wins</th>
        <th>Win %</th>
        <th>Favorite color</th>
        <th>Favorite deck</th>
    </tr>
    </thead>
    <tbody>
    {% for player in players %}
        <tr>
            <th scope="row">{{ player.person }}</th>
            <td>{{ player.owned_decks }}</td>
            <td>{{ player.games_played }}</td>
            <td>{{ player.games_won }}</td>
            <td>{{ player.win_percentage }}</td>
            <td>
                {% include "matches/color_pips.html" with color=player.favorite_color %}
            </td>
        <td>{{ player.favorite_deck }} (Played {{ player.favorite_deck_plays }} times)</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}


